header div{
    border: 0;
    margin: 0;
    padding: 2em;
    background-color: blueviolet;
    color: #fbfbfb; 
    font-size: 2.5em;
    text-align: center;
}

header div a, a:hover {
    text-decoration: none;
    color: #fbfbfb; 
}