.navcontain {
    display: block;
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
}

ul.topnavlist {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;    
    background-color: lightgray;
}

li.topnavlistitem {
    float: left;
}

li.topnavlistitem:last-child {
    float: right;
}

li.topnavlistitem i {
    padding-right: 0.5em;
}

li.topnavlistitem a {
    display: block;
    padding: 1.25em; 
    text-decoration: none;
    font-size: 1.1em;
    color: black;    
}

li.topnavlistitem a.active {
    background-color: blueviolet;
    color: white;
}

li.topnavlistitem a:visited:not(.active) {    
    color: darkorchid;
}

li.topnavlistitem a:hover {    
    background-color: rgba(14, 12, 12, 0.7);
    color: white;
}

@media only screen and (max-width: 650px) {
    li.topnavlistitem {
        width: 100%;
    }   
}