.brandtextcolor-text{
  color: #d3d20a;
}
.brandbgcolor-text{
  color: #9d2323;
}
.brandtextcolor-bg{
  background-color: #d3d20a;
}
.brandbgcolor-bg{
  background-color: #9d2323;
}
.branddarkcolor{
  color: #ffffff;
  background-color: #15171b;
}



.header {
  background: url(/img/me-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
}

.description {
  position: absolute;
  width: 100%;
  margin: auto;
	top: 80%;	
	text-align: center;
}

.carousel .carousel-item {
  height: 100vh;
}

.carousel-item img { 
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 100%;
}  

.responsiveimg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardbutton:hover {
  color: white;
  border: 2px solid #d3d20a;
}

.nodecorationfooter {
  border: none;
  background-color: inherit;
}



@media only screen and (max-width: 650px){
  .description {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 5%;	
    text-align: center;
  } 
}