:root{
  --basefontsize: 16px;
  --brandtext: #d3d20a;
  --brandbg: #9d2323;
  --branddark: #15171b;
}

html {
  font-size: var(--basefontsize);
  scroll-behavior: smooth;
}
  
body {
  font-size: 1rem;
  line-height: 1.618;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-family: "Montserrat", Arial, sans-serif;
  color: #111;
  background-color: #fbfbfb; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", Georgia, serif;
}

blockquote {
  font-family: "EB Garamond", Georgia, serif;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.33;
  page-break-inside: avoid;
}

.serif-font {
  font-family: "EB Garamond", Georgia, serif;
}

.sans-serif-font {
  font-family: "Montserrat", Arial, sans-serif;
}

.monospace-font {
  font-family: "Lucida Console", Monaco, monospace;
}

/* colors  */
/* brand colors  */
.brandtextcolor-text {
  color: var(--brandtext);
}
.brandbgcolor-text {
  color: var(--brandbg);
}
.brandtextcolor-bg {
  background-color: var(--brandtext);
}
.brandbgcolor-bg {
  background-color: var(--brandbg);
}
.branddarkcolor {
  color: #fff;
  background-color: var(--branddark);
}

/* other colors  */
.w3-vivid-green {
  color: #fff;
  background-color: #008856;
}

/* media query  */

@media only screen and (min-width: 650px){
  body {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1920px){
  body {
    font-size: 1.25rem;
  }
}